body {
  background: #2D323A;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

h1, p {
  color: #f0f8ff;
}

#count {
  display: flex;
  position: absolute;
  top: 120px;
  left: 19%;
  color: #f0f8ff;
}

#isinvalid {
  display: none;
  position: absolute;
  top: 195px;
  left: 20%;
  color: #ffdddd;
}

#userinput {
  height: 5px;
  width: 50%;
  border: none;
  padding: 20px;
  margin-top: 50px;
  background: #f0f8ff;
}

#enter {
  height: 45px;
  width: 10%;
  border: none;
  background: #f0f8ff;
}

#enter:hover {
  background: #b5c0ce;
}

.done {
  text-decoration: line-through;
}

#list {
  display: flex;
  grid-gap: 10px;
  flex-wrap: wrap;
  margin-top: 60px;
}

li {
  list-style: none;
  grid-row: none;
  text-align: center;
  padding: 10px;
  background: #f0f8ff;
}

.div li {
  background: transparent;
  color: #000000;
}

.div, li {
  display: flex;
  width: fit-content;
  background: #f0f8ff;
  cursor: context-menu;
  border-radius: 5px;
  justify-self: center;
}

.close {
  padding: 7px;
  background: #d9e4f1;
  font-size: 15px;
  border-radius: 0px 5px 5px 0px;
}

.close:hover {
  background: #b5c0ce;
}
